* {
    box-sizing: border-box;
}

html {
    padding: 0px;
    margin: 0px;
    min-height: 270px;
}

body {
    background-color: rgb(255, 255, 255);
    padding: 0px;
    margin: 0px;
    font-family: "Gabriela", serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container>* {
	height: fit-content;
}
  
nav {
    padding: 15px 25px;
    background-color: rgb(85,107,47);
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hamburger{
    padding: 0;
    margin: 0;
    width: 50px;
    color: #fff;
}
.menucim{
    padding: 0;
    margin: 0;
    margin-top: 14px;
    color: black;
    font-size: 20px
}
.checkboxnone{
    display: none;
}
.checkbtn {
    cursor: pointer;
}
.nav-mobile {
    display: none;
}
#check:checked ~ .nav-mobile {
    display: block;
}
.nav-mobile {
    position: absolute;
    top: 4.5rem;
    left: 0;
    background-color: rgb(19, 30, 1);
    z-index: 1;
    width: 150px;
}
.nav-mobile a {
    color: #fff;
    padding: 1rem 1.5rem;
    display: block;
    text-decoration: none;
}
.nav-mobile a.active {
    background-color: rgb(85,107,47);
}
.nav-mobile a:hover {
    background-color: rgb(85,107,47);
}  
   
.navlogo{
    margin: 0;
    padding: 0;
    margin-left: 69px;
    height: 50px;
    align-items: center;
    display: none;

}
.cikkcim{
    font-weight: bold;
    padding: 20px;
    margin: 40px;
    text-align: center;
    color: rgb(19, 30, 1);
    font-size: 25px;
}


.tartalom{
    margin: 40px;
    text-align: justify;
}
.kep {
    display: flex;
    margin: 0 10% 30px 10%;
    width: 80%;
    height: auto;
    padding: 0;
    border-radius: 15px;
}

hr{
    background-color: black;
    width: 80%;
    height: 1px;
}
footer{
    flex-basis: 100%;
    background-color: rgb(85,107,47);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 12px;
    padding: 25px;
    margin: 0;
}
.textcim{
    background-color: rgb(85,107,47);
    border-radius: 10px 10px 0 0;
    margin: 40px 15% 0 5%;
    padding: 10px;
    color: #fff;
}   
.textbox2{
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 5%;
    margin-left: 5%;
    padding: 0;
    width: 90%;
}

.hatterurlap{
    margin: 0 5%;
    background-color: rgba(19, 30, 1, 0.3);
    border: black 1px solid;
    border-radius: 0 4px 4px 4px;
}
.elso_div{
    margin: 0;
    margin-bottom: 2%;
    margin-top: 8%;
}


input[type="radio"]{
    margin: 10px 3px;
}
input[type="text"]{
    height: 30px;
}
input[type="email"]{
    height: 30px;
}
#divmagan{
    display: none;
    margin: 0;
    padding: 0;
}

.slider {
    -webkit-appearance: none;
    width: 60%;
    height: 10px;
    border-radius: 5px;  
    background: #ffffff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin:20px 0 20px 20%;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: rgb(85,107,47);
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: rgb(85,107,47);
    cursor: pointer;
}

.slidermagan {
    width: 60%;
    height: 10px;
    border-radius: 5px;  
    background: #ffffff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin:20px 0 20px 20%;
}

.slidermagan::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: rgb(85,107,47);
    cursor: pointer;
}
  
.slidermagan::-moz-range-thumb {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: rgb(85,107,47);
    cursor: pointer;
}
.button_kalkulal{
    height: 30px;
    width: 60%;
    padding: 0;
    margin: 0 20%;
}
.button_kuld{
    background-color: rgb(85,107,47);
    color: #fff;
    height: 30px;
    width: 60%;
    padding: 0;
    margin: 15px 20%;
}
.button_torol{
    background-color: rgb(85,107,47);
    color: #fff;
    height: 30px;
    width: 40%;
    padding: 0;
    margin: 15px 30%;
}
.kikalkulalt{
    padding: 20px;
    margin: 30px 5%;
    background-color: rgba(19, 30, 1, 0.3);
    border-radius: 4px;
    border: solid black 1px;
}

@media all and (min-width: 600px) {
    /*tablet*/
    header li a, .menu{
        justify-content: flex-end;
    }
    .navlogo{
        display: block;
    }
    
}

@media all and (min-width: 768px) {
}